body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}
#color{
	background-color:purple;
	color: green;
}
#ritual{
background-color: orange;
font-size: 20px;
}
#place{
background-image: url("https://res.cloudinary.com/mahadabdishakur/image/upload/v1635530954/Zenitsu_Agatsuma_ssqbnu.jpg");
padding: 32px 16px;

}
ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}